.label {
  display: block;
  margin-bottom: var(--spacing-s);
}

.input {
  width: 100%;
  height: 2.5rem;
  padding: var(--spacing-xs);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.input::placeholder {
  color: var(--color-gray-400);
}
