{
  "parser": "babel-eslint",
  "extends": [
    "react-app",
    "airbnb-base",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "import",
    "prettier"
  ],
  "rules": {
    "import/no-extraneous-dependencies": [
      "error", {
        "packageDir": "./"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    }
  }
}
