
.button {
  display: block;
  margin: 0;
  margin-top: 1rem;
  padding: 1rem;
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.3);
  width: 100%;
  background-color: darkcyan;
  color: #fff;
  font: inherit;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  border-radius: 0.25rem;
  outline-color: #ccc;
  cursor: pointer;
}

.button:active {
  border-bottom: none;
  border-top: 2px solid transparent;
}

.button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.button--secondary {
  background-color: darkslateblue;
}

.button--tertiary {
  background-color: dodgerblue;
}

.button--quaternary {
  background-color:#fff;
  color: darkslateblue;
}