.chores-list {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  padding: 0;
  list-style: none;
}

.chores-list__item {
  margin-top: 1rem;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.chores-list__item:first-child {
  margin-top: 0;
}

@media screen and (min-width: 37.5em) {
  .chores-list {
    margin-bottom: 0;
  }
}