.chain {
  margin-top: var(--spacing-s);
}

.chore {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-s);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-border);
  border-top: 0;
}

.chore:first-child {
  border-top: 1px solid var(--color-border);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.chore:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.remove {
  margin-top: var(--spacing-s);
  text-align: right;
}
