.chore-chain {

}

.chore-chain__title {
  margin-top: 0;
}

.chore-chain__options {
  margin-top: 2rem;
  padding-left: 0;
  list-style-type: none;
}

.chore-chain__option {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  background-color: white;
}

.chore-chain__checkbox {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  pointer-events: none;
}

.chore-chain__status {
  position: relative;
  padding: 2px;
  height: 1rem;
  width: 1rem;
  min-width: 1rem;
  margin-left: 1rem;
  border: 1px solid navy;
}

.chore-chain__status-icon {
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  opacity: 0;
}

.chore-chain__checkbox:checked ~ .chore-chain__status .chore-chain__status-icon {
  opacity: 1;
}

.chore-chain__sort-buttons {
  display: flex;
}

.chore-chain__sort-button {
  margin: 0;
  margin-left: 1rem;
  padding: 0;
  border: 0;
  border-bottom: 2px solid rgba(0,0,0,0.3);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  background-color: navy;
  color: white;
  font-size: 1.5rem;
}

.chore-chain__sort-button:disabled {
  border-top: 2px solid transparent;
  border-bottom-width: 0;
}

.chore-chain__sort-button:disabled {
  opacity: 0.5;
}