.chore {
  position: relative;
  padding: 1rem;
  padding-right: 5rem;
  background-color: dodgerblue;
  color: #fff;
}

.chore__title {
  font-weight: bold;
}

.chore__bar {
  position: relative;
  height: 0.25rem;
  margin-top: 2rem;
}

.chore__bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0.25rem;
  width: 100%;
  background-color: #fff;
}

.chore__bar-inner {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.25rem;
  background-color: navy;
}

.chore__bar-inner--bonus {
  background-color: crimson;
}

.chore__points {
  position: absolute;
  z-index: 1;
  bottom: 0.5rem;
  right: 1px;
  padding: 0.25rem 0.375rem;
  font-size: 0.75rem;
  background-color: navy;
  border-radius: 0.25rem;
  transform: translateX(50%);
}


.chore__points::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  margin-left: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 3px 0 3px;
  border-color: navy transparent transparent transparent;
}


.chore__points--bonus {
  background-color: crimson;
}

.chore__points--bonus::after {
  border-color: crimson transparent transparent transparent;
}

.chore__last-done {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  text-align: right;
}

.chore__complete-button {
  position: absolute;
  display: block;
  top: 1rem;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #ccc;
}

.chore__complete-button:active {
  border-bottom: 0;
  border-top: 2px solid transparent;
}

.chore__extra-options {
  position: absolute;
  right: 1rem;
  top: 4rem;
}
