.card {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: var(--spacing-s);
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  color: var(--color-text);
  background-color: var(--color-white);
}

.title {
  margin-bottom: var(--spacing-s);
}

.primary {
  background-color: var(--color-primary);
  --color-text: var(--color-white);
  --color-text-lighter: var(--color-white);
  --color-link: var(--color-white);
}

.medium {
  padding: var(--spacing-m);
}

.info {
  background-color: var(--color-yellow-100);
  /* font-size: 0.75rem; */
}
