.points-graph {
  position: sticky;
  z-index: 3;
  top: calc(-6rem - ((100vw - 4rem)/2));
  background-color: #fff;
  padding: 1rem 1rem 2rem;
  margin-top: -1rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

/* After 464px the width of the avatars won't grow any more
   so the top coordinate of the bar becomes constant */
@media screen and (min-width: 432px) {
  .points-graph {
    top: calc(-5rem - 200px);
  }
}

.points-graph__title {
  margin: 0;
  line-height: 1;
  text-align: center;
}

.points-graph__people {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.points-graph__person {
  width: 200px;
}

.points-graph__person-picture {
  display: block;
}

.points-graph__person-name {
  font-weight: bold;
  line-height: 1;
  text-align: center;
  margin-top: 1rem;
}

.points-graph__graph {
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.points-graph__graph::before {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: 100%;
  background-color: #ddd;
}

.points-graph__bar {
  position: absolute;
  right: 50%;
  height: 0.25rem;
  background-color: tomato;
  transition: width 1s;
}

.points-graph__bar--2 {
  left: 50%;
  right: auto;
}

.points-graph__difference {
  position: absolute;
  bottom: 0.5rem;
  padding: 0.25rem 0.375rem;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  background-color: tomato;
  color: #fff;
}

.points-graph__difference::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  margin-left: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 3px 0 3px;
  border-color: tomato transparent transparent transparent;
}

.points-graph__difference--1 {
  transform: translateX(-50%);
  left: 1px;
}

.points-graph__difference--2 {
  transform: translateX(50%);
  right: 1px;
}

@media screen and (min-width: 37.5em) {
  .points-graph {
  /* In the 2 col layout, the width of the avatars grows
     so the top coordinate of the bar becomes thicker */
    top: calc(-6.5rem - 200px);
    padding-top: 2rem;
  }

  .points-graph__person-name {
    font-size: 1.5rem;
  }

  .points-graph__difference {
    font-size: 1rem;
  }
}
