.points-graph {
  background-color: #fff;
  padding: 1rem 1rem 2rem;
}

.points-graph__people {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.points-graph__person {
  width: 200px;
}

.points-graph__person-name {
  font-weight: bold;
  line-height: 1;
  text-align: center;
  margin-top: 1rem;
}

.points-graph__graph {
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.points-graph__graph::before {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: 100%;
  background-color: #ddd;
}

.points-graph__bar {
  position: absolute;
  right: 50%;
  height: 0.25rem;
  background-color: tomato;
}

.points-graph__bar--dina {
  left: 50%;
  right: auto;
}

.points-graph__difference {
  position: absolute;
  bottom: 0.5rem;
  padding: 0.25rem 0.375rem;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  background-color: tomato;
  color: #fff;
}

.points-graph__difference::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  margin-left: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 3px 0 3px;
  border-color: tomato transparent transparent transparent;
}

.points-graph__difference--adrian {
  transform: translateX(-50%);
  left: 1px;
}

.points-graph__difference--dina {
  transform: translateX(50%);
  right: 1px;
}

@media screen and (min-width: 37.5em) {
  .points-graph {
    padding: 2rem;
  }

  .points-graph__person-name {
    font-size: 1.5rem;
  }

  .points-graph__difference {
    font-size: 1rem;
  }

  /* .points-graph__difference--dina {
    right: -1.125rem;
  } */
}
