.points-graph {
  position: sticky;
  z-index: 3;
  top: calc(-8rem - ((100vw - 4rem)/2));
  background-color: #fff;
  padding: 1rem 1rem 2rem;
  margin-top: -1rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

/* After 27em (432px) the width of the avatars won't grow any more
   so the top coordinate of the bar becomes constant */
@media screen and (min-width: 27em) {
  .points-graph {
    top: calc(-7rem - 200px);
  }
}

.points-graph__title {
  margin: 0;
  line-height: 1;
  text-align: center;
}

.points-graph__people {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 1rem;
}

.points-graph__person {
  width: 200px;
}

.points-graph__person-picture {
  display: block;
  position: relative;
}

.points-graph__person-name {
  font-weight: bold;
  line-height: 1;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.points-graph__person-owed {
  position: absolute;
  bottom: 2%;
  right: 20%;
  font-size: 2rem;
  line-height: 1;
}

.points-graph__graph {
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.points-graph__graph::before {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: 100%;
  background-color: #ddd;
}

.points-graph__bar {
  position: absolute;
  right: 50%;
  height: 0.25rem;
  background-color: tomato;
  transition: width 1s;
}

.points-graph__bar--winning {
  background-image: linear-gradient(270deg, tomato 0, gold 100%);
}

.points-graph__bar--2 {
  left: 50%;
  right: auto;
}

.points-graph__bar--2.points-graph__bar--winning {
  background-image: linear-gradient(90deg, tomato 0, gold 100%);
}

.points-graph__difference {
  position: absolute;
  bottom: 0.5rem;
  padding: 0.25rem 0.375rem;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  background-color: tomato;
  color: #fff;
  transform: translateX(var(--points-graph-difference-x-transform));
  transform-origin: 50% 100%;
}

.points-graph__difference::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  margin-left: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 3px 0 3px;
  border-color: tomato transparent transparent transparent;
}

.points-graph__difference--1 {
  --points-graph-difference-x-transform: -50%;
  left: 1px;
}

.points-graph__difference--2 {
  --points-graph-difference-x-transform: 50%;
  right: 1px;
}

.points-graph__difference--winning {
  animation: jump 2s infinite;
  background-color: gold;
  color: #000;
}

.points-graph__difference--winning::after {
  border-color: gold transparent transparent transparent;
}

@keyframes jump {
  0% {
    transform: translateX(var(--points-graph-difference-x-transform));
  }
  15% {
    transform: translateX(var(--points-graph-difference-x-transform)) rotate(-10deg) translateY(-20%);
  }
  30% {
    transform: translateX(var(--points-graph-difference-x-transform));
  }
  45% {
    transform: translateX(var(--points-graph-difference-x-transform)) translateY(-20%);
  }
  60% {
    transform: translateX(var(--points-graph-difference-x-transform));
  }
  75% {
    transform: translateX(var(--points-graph-difference-x-transform)) rotate(10deg) translateY(-20%);
  }
  90% {
    transform: translateX(var(--points-graph-difference-x-transform));
  }
}

@media screen and (min-width: 37.5em) {
  .points-graph {
  /* In the 2 col layout, the width of the avatars grows
     so the top coordinate of the bar becomes thicker */
    top: calc(-8.5rem - 200px);
    padding-top: 2rem;
  }

  .points-graph__person-name {
    font-size: 1.5rem;
  }

  .points-graph__difference {
    font-size: 1rem;
  }
}
