.pop-up-menu {
  
}

.pop-up-menu__button {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
}

.pop-up-menu__menu {
  position: absolute;
  z-index: 2;
  top: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 10px #666;
  transform: scale(0);
  transition: transform 0.1s;
}

.pop-up-menu__menu--left {
  left: 0.5rem;
  transform-origin: 0 0;
}

.pop-up-menu__menu--right {
  right: 0.5rem;
  transform-origin: 100% 0;
}

.pop-up-menu__menu--visible {
  transform: scale(1);
}

.pop-up-menu__menu::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  right: 0.25rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-color: transparent transparent #fff transparent;
}

.pop-up-menu__menu--left::before {
  left: 0.25rem;
}

.pop-up-menu__menu--right::before {
  right: 0.25rem;
}

.pop-up-menu__item {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  font: inherit;
  border: 0;
  background-color: transparent;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  text-align: right;
  cursor: pointer;
  -webkit-appearance: none;
}

.pop-up-menu__item:hover,
.pop-up-menu__item:focus {
  background-color: #f7f7f7;
}
