.form {
  max-width: 32rem;
  margin: var(--spacing-l) auto 0;
}

.question {
  margin-bottom: var(--spacing-l);
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons > :only-child {
  margin-left: auto;
}
