.wrapper {
  margin: 0 auto;
  max-width: 30rem;
  text-align: center;
}

.s {
  font-size: var(--font-size-s);
}

.m {
  padding: var(--spacing-l) 0;
}

.icon {
  margin-bottom: var(--spacing-s);
  width: 4rem;
  height: 4rem;
  fill: currentColor;
}
