*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: sans-serif;
  background-color: #eee;
}

h1, h2, h3, h4 {
  font-family: 'Patua One', sans-serif;
  font-weight: 400;
}

@media screen and (min-width: 37.5em) {
  .hide--large {
    display: none;
  }

  .app {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  .app__chores {
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-column-gap: 1rem;
    align-items: flex-start;
  }
}
