*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: sans-serif;
  background-color: #eee;
}

h1, h2, h3, h4 {
  font-family: 'Patua One', cursive;
  font-weight: 400;
}

.form__label {
  display: block;
  margin-top: 1rem;
}

.form__label:first-child {
  margin-top: 0;
}

.form__input {
  display: block;
  padding: 0.5rem;
  margin-top: 0.25rem;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
}

.form__button {
  display: block;
  margin-top: 1rem;
  padding: 1rem;
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.3);
  width: 100%;
  background-color: dodgerblue;
  color: #fff;
  font: inherit;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  border-radius: 0.25rem;
  outline-color: #ccc;
  cursor: pointer;
}

.form__button:active {
  border-bottom: none;
  border-top: 2px solid transparent;
}

.form__button--secondary {
  background-color: darkslateblue;
}

@media screen and (min-width: 37.5em) {
  .app {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  .app__chores {
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-column-gap: 1rem;
    align-items: flex-start;
  }

  .form {
    background-color: #fff;
    padding: 1rem;
    max-width: 600px;
    margin-left: auto;
    margin: auto;
  }

  .form--contained {
    padding: 0;
  }

  .form__button-holder {
    display: grid;
    grid-template-columns: minmax(100px, 1fr)  minmax(100px, 1fr);
    grid-column-gap: 1rem;
  }
}
