.game-header {
  position: sticky;
  z-index: 3;
  top: calc(-8rem - ((100vw - 4rem)/2));
  background-color: #fff;
  padding: 1rem 1rem 2rem;
  margin-top: -1rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

/* After 27em (432px) the width of the avatars won't grow any more
   so the top coordinate of the bar becomes constant */
@media screen and (min-width: 27em) {
  .game-header {
    top: calc(-7rem - 200px);
  }
}

@media screen and (min-width: 37.5em) {
  .game-header {
  /* In the 2 col layout, the width of the avatars grows
     so the top coordinate of the bar becomes thicker */
    top: calc(-8.5rem - 200px);
    padding-top: 2rem;
  }
}

.game-header__title {
  margin: 0;
  line-height: 1;
  text-align: center;
}

.game-header__players {
  margin-top: 1rem;
}