.actions {
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  padding-top: 0;
  background-color: #fff;
  transform: translateY(100%);
  transition: transform 0.3s;
}

.actions--visible {
  transform: translateY(0);
}

.actions__toggle-button {
  position: absolute;
  top: -2.5rem;
  left: 50%;
  margin-left: -2rem;
  height: 2.5rem;
  width: 4rem;
  border: 1px solid #eee;
  border-bottom: 0;
  padding: 0;
  background-color: #fff;
  font-size: 0;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  outline-color: #ccc;
}

.actions__toggle-button::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 14px 10px;
  border-color: transparent transparent navy transparent;
}

.actions--visible .actions__toggle-button::after {
  transform: rotate(180deg);
}

@media screen and (min-width: 37.5em) {
  .actions {
    position: sticky;
    top: 5rem;
    margin-top: 1rem;
    transform: none;
  }

  .actions__toggle-button {
    display: none;
  }
}
